.social-label{
	padding:0em 0em;
	margin:0;
}
.text-label{
	background:#309BBE;
	padding: 36px 83px;
}
.text-label{
	font-family: 'Monda', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.social-icn{
	background:#79CFD1;
	padding: 30px 0px 25px;
}
.social-icn ul{
	list-style-type:none;
	margin:0;
	padding:0;
	float: right;
}
.social-icn ul li{
	margin:0px;
	padding: 0px 43px;
	display:inline;
}
.social-icn ul li a{
	background: url(../images/social.png);
	width: 35px;
	background-size: 211px;
	height: 34px;
	display: inline-block;
}
.social-icn ul li a.face{
	background-position: 0px 34px;
}
.social-icn ul li a.face:hover{
	background-position: 0px 68px;
}
.social-icn ul li a.twit{
	background-position: -71px 34px;
}
.social-icn ul li a.twit:hover{
	background-position: -71px 68px;
}
.social-icn ul li a.gplus{
	background-position: -106px 34px;
}
.social-icn ul li a.gplus:hover{
	background-position: -106px 68px;
}
.social-icn ul li a.inst{
	background-position: -35px 34px;
}
.social-icn ul li a.inst:hover{
	background-position: -35px 68px;
}
.social-icn ul li a.drib{
	background-position: 70px 34px;
	width: 36px;
}
.social-icn ul li a.drib:hover{
	background-position: 70px 68px;
	width: 36px;
}
.social-icn ul li a.in{
	background-position: 35px 34px;
}
.social-icn ul li a.in:hover{
	background-position:35px 68px;
}
